tmp-shots/
.DS_Store
Thumbs.db
__pycache__/
_lab/
assets/img/folio/
_selftest.html
_check3d.html
_*.html
_fxcheck.html
_selftest3.html
_layout.html
_reveal.html
_premium.html
_vis.html
_stable.html
_jitter.html
_home.html
_text.html
_cards.html
_err.html
_audit.html
_probe.html
_render.html
_tabscheck.html
_tabsonly.html
_cardcheck.html
_pixcheck.html
_gateview.html
_expview.html
_cardpx.html
_cardview.html
_pickview.html
_stripview.html
_measure.html
_cardchk2.html
_motion.html
_motion2.html
_modelview.html
_backchk.html
data.js.bak-entity
*.bak-*
