tmp-shots/
.DS_Store
Thumbs.db
__pycache__/
_lab/
assets/img/folio/
_selftest.html
_check3d.html
_*.html
_fxcheck.html
_selftest3.html
_layout.html
_reveal.html
_premium.html
_vis.html
_stable.html
_jitter.html
_home.html
_text.html
_cards.html
_err.html
